@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto&display=swap');

html {
  font-size: 16px;
  line-height: 1;

}

body {
  font-family: 'Roboto',  "Helvetica", "Arial", sans-serif;
  color: #222;
  display:grid;
  max-width: 960px;
  grid-template-columns: 300px 700px;
  overflow: wrap;
  grid-template-rows: 200px 100px 100px 400px 200px;
  grid-template-areas:
    "photogrid headergrid"
    "navgrid professionalgrid"
    "contactgrid professionalgrid"
    "educationgrid professionalgrid"
    "skillsgrid profesionalgrid";
  position: absolute;
  left: 0;
  right: 0;
  grid-gap: 10px;
}

h1, h2, h3 {
  font-family: 'Playfair Display', "PT Serif", "Noto Serif TC", serif;
  font-weight: 700;
}

h3, p {
  margin-bottom: 0;
}

a {
  color: rgb(3,3,238);
}

a:visited {
  color: rgb(85,26,139);
}

a:hover {
  color: rgb(44,119,238);
}

a:active {
  color: rgb(44,119,239);
}

h3 {
  margin-bottom:0;
}


#photogrid {
  padding: 10px;
  margin: 10px
  border: 2px solid #222;
  position: absolute;
  top: 50px;
  left: 50px;
  grid-area: photogrid;

}

#headergrid {
  margin: 10px;
  position: absolute;
  top: 70px;
  left: 600px;
  grid-area; headergrid;
}

#navgrid {
  padding: 20px;
  margin: 10px;
  border: 1px clear #222;
  position: absolute;
  top: 10px;
  left: 0;
  grid-area: navgrid;

}

#contactgrid {
  padding: 20px;
  margin: 5px;
  border: 1px clear #222;
  position: absolute;
  top: 40px;
  left: 0;
  grid-area: contactgrid;
}

#educationgrid {
  padding: 20px;
  margin: 10px;
  border: 1px clear #222;
  position: absolute;
  top: 100px;
  left: 0;
  grid-area: educationgrid;
}

#professionalgrid {
  padding: 30px;
  margin: 10px;
  border-left: 1px solid #222;
  position: absolute;
  top: 250px;
  left: 350px;
  gridarea: professionalgrid;
}

#skillsgrid {
  padding: 20px;
  margin: 10px;
  border: 1px clear #222;
  position: absolute;
  top: 130px;
  left: 0;
  grid-area: skillsgrid;
}
